* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
  background-color: rgb(238, 238, 238);
 
}

h1 {
  margin-top: 0;
  font-size: 22px;
  text-align: center;
}

h2 {
  margin-top: 0;
  font-size: 20px;
}

h3 {
  margin-top: 0;
  font-size: 18px;
}

h4 {
  margin-top: 0;
  font-size: 16px;
}

h5 {
  margin-top: 0;
  font-size: 14px;
}

h6 {
  margin-top: 0;
  font-size: 12px;
}

code {
  font-size: 1.2em;
}

ul {
  padding-left: 20px;
}



body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
}

.square {
  background: #fff;
  border: 0.5px solid hsla(0, 2%, 77%, 0.534);
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 80px;
  
  
}

.winning-sq {
  background-color: limegreen;
}

.board-row {
  clear: both;
  content: '';
  display: table-row;
  margin-right: -1px;
  margin-top: -1px;
  margin-bottom: -2px;
}

.status {
  margin-bottom: 10px;
}
.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}
.img {
  /* position: absolute; */
  width: 5%;
  height: 5%;
}

/* .elevator-shaft {
  display: flex;
  align-items: center;
}

.floor-container {
  display: flex;
  flex-direction: column-reverse; /* reverse the order of the buttons */
/* } */
.building{
  flex-direction: column;
  margin: auto;
  display: table;
  /* justify-content: center; */
  /* align-items: center; */
  /* table-layout: auto; */
  width: 55%;

}
.call{
  display: table-cell;
  background-color: rgb(91,205,136);
  border: none;
  color: white;
  border-radius: 4px;
  
  
  margin: 1%;
  /* float: inline-end; */
  text-align: center;

}
.floor-num{
  display: table-row-group;
  /* background: #fff; */
  border: none;
  float: left;
  font-size: 12px;
  font-weight: bold;
  /* line-height: 34px; */
  height: 20px; 
  margin-right: 5px;
  /* padding: 0; */
  text-align: right;
  width:25%;
  /* border: 2px solid hsl(0, 0%, 0%); */
  line-height: 34px;
}

